{% extends 'base_contact.html.twig' %}
{% block title %}Proweb Artois : {% trans %}Prospects{% endtrans %}{% endblock %}
{% block navbar %}{% include('common/navbar.html.twig') %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block googleMap %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block body %}
 <article class="col-xs-12 maincontent">

    <h1>{% trans %}Prospects{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Firstname{% endtrans %}</th>
                <th>{% trans %}Lastname{% endtrans %}</th>
                <th>{% trans %}Phone{% endtrans %}</th>
                <th>{% trans %}Email{% endtrans %}</th>
                <th>{% trans %}Message{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.message }}</td>
                <td>
                   
                    <a href="{{ path('prospect_edit', {'id': contact.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</article>        
{% endblock %}
