{% extends 'base.html.twig' %}

{% block title %}Proweb Artois : {% trans %}Home{% endtrans %}{% endblock %}
{% block navbar %}{% include('common/navbar.html.twig') %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block googleMap %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block body %}
<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">{{parametre.header | raw}}</h1>
				{{parametre.accroche | raw}}
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">{{parametre.introTitre }}</h2>
		
		<p class="text-muted">
			{{parametre.introText | raw}}
		</p>
	</div>
	<br>
	<div class="container" >
		<div class="row a">
		
		{% for reference in references %}
			<div class="border mx-auto col-lg-1 col-md-1 col-sm-1">
            	<a href="{{reference.url}}" target="_blank" >
                <img class="img-responsive center-block" width="150px" src="{{asset('uploads/images/'~ reference.logo.name)}}" alt="Image 1" />
            	</a>
				<h5 class="thin text-center">{{reference.titre}}</h5>
				<br>
        	</div>
		{% endfor %}
		
		</div>
		<br>
	</div>
	<!-- /Intro-->

{% endblock %}
