{% extends 'base_contact.html.twig' %}
{% block title %}Proweb Artois : {% trans %}Site parameters{% endtrans %}{% endblock %}
{% block navbar %}{% include('common/navbar.html.twig') %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block googleMap %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block body %}
 <article class="col-xs-12 maincontent">

    <h1>{% trans %}Site parameters{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Titre{% endtrans %}</th>
                <th>{% trans %}Header{% endtrans %}</th>
                <th>{% trans %}Accroche{% endtrans %}</th>
                <th>{% trans %}Footer{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for parametre in parametres %}
            <tr>
                <td>{{ parametre.id }}</td>
                <td>{{ parametre.titre }}</td>
                <td>{{ parametre.header }}</td>
                <td>{{ parametre.accroche }}</td>
                <td>{{ parametre.footer }}</td>
                <td>
                    <a href="{{ path('parametre_edit', {'id': parametre.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('parametre_new') }}">{% trans %}Create new{% endtrans %}</a>
</article>    
{% endblock %}
