<div class="navbar navbar-inverse navbar-fixed-top headroom" >
	<div class="container">
		<div class="navbar-header">
			<!-- Button for smallest screens -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<a class="navbar-brand" href="{{path('app_home')}}">
			{% if parametre.logo.name is not null %}
				<img width="100" src="{{ asset('uploads/images/' ~ parametre.logo.name)}}" alt="Proweb Artois">
			{% else %}
				<img width="100" src="{{ asset('assets/images/logo.png')}}" alt="Proweb Artois">
			{% endif %}
			</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav pull-right">
				<li><a href="{{path('app_home')}}">{% trans %}Home{% endtrans %}</a></li>
				{% if is_granted('ROLE_ADMIN') %}
				<li><a href="{{path('admin_home')}}">{% trans %}Admin dashboard{% endtrans %}</a></li>
				{% else %}
				<li><a href="{{path('app_home')}}">{% trans %}About{% endtrans %}</a></li>
			<!--	<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="sidebar-left.html">Left Sidebar</a></li>
						<li><a href="sidebar-right.html">Right Sidebar</a></li>
					</ul>
				</li> -->
				<li ><a href="{{path('contact_new')}}">{% trans %}Contact{% endtrans %}</a></li>
				{% endif %}
				{% if is_granted('ROLE_USER') %}
         		   <li><a class="navbar-link" href="{{path('app_logout')}}">{% trans %}Sign out{% endtrans %}</a></li>
				{% else %}
					<li><a  href="{{path('app_login')}}">{% trans %}Sign in{% endtrans %}</a></li>
					<li><a  href="{{path('app_register')}}">{% trans %}Sign up{% endtrans %}</a></li>
				{% endif %}
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div> 
